nav{
    height: 3.125rem;
    background: #E0EFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.navList{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.divider{
    background: #000;
    width: 0.063rem;
    height: 2rem;
}

.option{
    padding: 0 1rem;
}

.navMobile{
    display: flex;
    align-items: center;
    width: 100%;
}
.navMobile > div{
    width: 33%;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 739px) {
    nav{
        background: #0078D4;
    }
    
}