.divider{
    height: 1px;
    width: 100%;
    background: black;
}

.dividerClick{
    height: 1px;
    width: 100%;
    background: white;
}

.footer-wrap{
    display: flex;
}

.footer-wrap > div{
    margin: 0 .625rem;
}